<h1>SENDING A TEXT?</h1>
<p>WELCOME! We'll send any text for you to any number! Simply enter the text message and cell phone number below.</p>

<%= form_tag("/sms/send", method: "post") do %>
    <%= label_tag(:q, "Send This:") %><br/>
    <%= text_area_tag(:message) %><br/>
    <%= label_tag(:q, "To Cell Number:") %><br/>
    <%= telephone_field(:user, :phone) %><br/>
    <%= submit_tag("SEND IT!") %>
<% end %>
